:root {
    --colorbg1: linear-gradient(180deg, #E03122 0%, #7A1B13 100%);
    --colorbg2: #ffffff;
    --colorbg3: #000000;
    --colorbg4: #D4C61B;
    --colorbg5: linear-gradient(180deg, #F2E438 0%, #ADA213 100%);
    --colorbg6: #D4C61B;
    --colorbg7: #67C0BB;
    --colorbg8: #4DA4A6;
    --textcolor1: #ffffff;
    --textcolor2: #E03122;
    --textcolor3: #000000;
    --border1: none;
    --border2: 2px solid #E03122;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}